body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chocolate;
    color: yellow;
    font-size: 15pt;
}
h1 {
    color: blueviolet;
}

a {
    color: blue;
    text-decoration: none;
}